<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link href="main.css" rel="stylesheet" type="text/css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="public/images/favicon.ico"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
      rel="stylesheet"
    />
    <title>Votecracy</title>
  </head>

  <body>
    <main id="root" class="disable-scrollbars dark-bg">
      <article class="reps">
        <header class="title">
          <h2>Search Representatives</h2>
        </header>

        <section class="section address for-officials">
          <form id="address-form">
            <label>Enter Your Address</label>
            <input type="text" id="address" name="address" value="" />
          </form>
        </section>

        <section class="section result">
          <ul id="officials"></ul>
        </section>
      </article>
    </main>
    <!-- <script>
      var exports = {};
    </script>
    <script src="/js/main.bundle.js"></script> -->
    <script src="main.bundle.js"></script>
  </body>
</html>
