<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link href="main.css" rel="stylesheet" type="text/css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="public/images/favicon.ico"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
      rel="stylesheet"
    />
    <title>Votecracy</title>
  </head>

  <body>
    <main id="root" class="disable-scrollbars dark-bg">
      <article class="party flex-col">
        <header class="title">
          <h2 id="cast-vote">Cast Your Vote</h2>
        </header>

        <section id="party-select" class="section pick-one">
          <div class="question flex-col">
            <header class="title">
              <h3>Which political party?</h3>
            </header>
            <button type="button" id="democratic" class="option vote">
              Democratic
            </button>
            <button type="button" id="republican" class="option vote">
              Republican
            </button>
          </div>
        </section>

        <section id="for-vote" class="section address">
          <form id="address-form">
            <label>Enter Your Address</label>
            <input type="text" id="address" name="address" value="" />
          </form>
        </section>

        <section class="section result">
          <h3 id="i-vote-for" class="subheading">I vote for...</h3>
          <ul id="candidates"></ul>
        </section>

        <section id="complete-vote" class="complete"></section>
      </article>
    </main>
    <script src="main.bundle.js"></script>
  </body>
</html>
