// Main theme colors
$primary-color: #0a2463;
$secondary-color: #ffe066;
$tertiary-color: #0fa3b1;
$accent-color: #fff8f0;

// Background colors
$light-bg-color: #fffcf9;
$list-bg-color: #233a73;
$input-bg-color: #fff8f0;

// Miscellaneous
$success-color: #5cb85c;
$shadow-color: #e5e5e5;
