@font-face {
  font-family: 'Apercu Pro', sans-serif;
  src: url('../../fonts/Apercu-Pro.otf');
}

@font-face {
  font-family: 'Apercu Medium', sans-serif;
  src: url('../../fonts/Apercu-Medium.otf');
}
