$padding-size-200: 200px;
$padding-size-100: 100px;
$padding-size-80: 80px;
$padding-size-70: 70px;
$padding-size-60: 60px;
$padding-size-50: 50px;
$padding-size-30: 30px;
$padding-size-25: 25px;
$padding-size-20: 20px;
$padding-size-15: 15px;
$padding-size-10: 10px;
$padding-size-5: 5px;

$margin-size-100: 100px;
$margin-size-50: 50px;
$margin-size-25: 25px;
$margin-size-20: 20px;
$margin-size-15: 15px;
$margin-size-10: 10px;
$margin-size-5: 5px;

// Checkmark
$loader-size: 7em;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 + $loader-size/12);
