<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link href="main.css" rel="stylesheet" type="text/css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="public/images/favicon.ico"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
      rel="stylesheet"
    />
    <title>Votecracy</title>
  </head>

  <body>
    <main id="root" class="disable-scrollbars lite-bg">
      <div class="landing width-100 flex-col">
        <div class="doodle-wrapper dark-bg">
          <img class="doodle abs" src="public/images/doodle.svg" />
        </div>

        <section class="section to-do">
          <div class="flex-col round abs">
            <h3>What would you like to do?</h3>
            <div class="flex-row flex-1 wrap space-btwn pad-top-5">
              <a
                rel="noopener"
                class="action flex-basis"
                href="/my-polling-location"
                ><button type="button">
                  Find my polling location
                </button></a
              >
              <a rel="noopener" class="action flex-basis" href="/elections"
                ><button type="button">
                  Search upcoming elections
                </button></a
              >
              <a
                rel="noopener"
                class="action flex-basis"
                href="/representatives"
                ><button type="button">
                  Search representatives
                </button></a
              >
              <a rel="noopener" class="action flex-basis" href="/vote"
                ><button type="button">
                  Vote
                </button></a
              >
            </div>
          </div>
        </section>
      </div>
    </main>
    <script src="main.bundle.js"></script>
  </body>
</html>
